@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: rebeccapurple;
    font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.btn {
    background-color: white;
    color: rebeccapurple;
    font-family: inherit;
    font-weight: bold;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}

#toasts {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toast {
    background-color: white;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 0.5rem;
    transition: transform 0.3s ease-out;
    animation: leave 0.5s ease-out 2.5s;
}

.toast.info {
    color: blue;
}

.toast.success {
    color: green;
}

.toast.danger {
    color: red;
}

@keyframes leave {
    100% {
        transform: translateX(150%);
    }
}
