@import url('https://fonts.googleapis.com/css2?family=Popping&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(161, 100, 223), rgb(161, 100, 100));
    font-family: Poppins, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.btn {
    background-color: rebeccapurple;
    border: 0;
    border-radius: 5px;
    color: white;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
}

.btn:hover {
    opacity: 0.8;
}

.btn:focus{
    outline: none;
}